@charset "utf-8";
/* reset */
/* line 3, reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/reset\.less}line{font-family:\000033}}
body,
div,
p,
ul,
li,
table,
tbody,
tr,
td,
textarea,
form,
input,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
img,
iframe,
header,
nav,
section,
article,
footer,
figure,
figcaption,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 9, reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/reset\.less}line{font-family:\000039}}
body {
  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  line-height: 24px;
  font-size: 14px;
  color: #222;
}
/* line 18, reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/reset\.less}line{font-family:\0000318}}
a {
  text-decoration: none;
  color: #0b63b4;
}
/* line 23, reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/reset\.less}line{font-family:\0000323}}
header,
nav,
section,
article,
footer,
figure,
figcaption {
  display: block;
}
/* line 27, reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/reset\.less}line{font-family:\0000327}}
ol,
ul {
  margin: 0;
  padding: 0;
}
/* line 32, reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/reset\.less}line{font-family:\0000332}}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 1, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\000031}}
body {
  background-color: #ececec;
}
/* line 2, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\000032}}
.mod-card {
  margin: 7px 14px 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
/* line 11, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\0000311}}
.mod-card-title {
  height: 40px;
  line-height: 39px;
  position: relative;
  text-indent: 10px;
  font-size: 15px;
  color: #1e1e1e;
}
/* line 18, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\0000318}}
.mod-card-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #c8c7cc;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
}
/* line 29, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\0000329}}
.mod-load-more {
  height: 14px;
  line-height: 14px;
  padding: 15px 0;
  text-align: center;
}
/* line 34, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\0000334}}
.mod-load-more .more-tips,
.mod-load-more .loading-tips,
.mod-load-more .no-more {
  display: inline-block;
  color: #afafaf;
  font-size: 12px;
  position: relative;
  padding: 0 0 0 18px;
}
/* line 41, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\0000341}}
.mod-load-more .no-more {
  padding: 0;
}
/* line 44, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\0000344}}
.mod-load-more .more-tips::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 14px;
  background: url(../img/more-icon.png) center no-repeat;
  -webkit-background-size: auto 13px;
  background-size: auto 13px;
  top: -1px;
  left: 0;
}
/* line 56, common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/common\.less}line{font-family:\0000356}}
.mod-load-more .loading-tips::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 14px;
  background: url(../img/more-icon.png) center no-repeat;
  -webkit-background-size: auto 13px;
  background-size: auto 13px;
  top: 0px;
  left: 0;
}
/* line 1, toolbar.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/toolbar\.less}line{font-family:\000031}}
.mod-bar-box {
  padding: 0 11px 0 0;
  height: 32px;
  line-height: 32px;
  background: #46a6ff;
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  font-family: STHeitiSC-Light;
}
/* line 9, toolbar.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/toolbar\.less}line{font-family:\000039}}
.mod-bar-box .title {
  float: left;
  width: 74px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #248bf2;
}
/* line 17, toolbar.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/toolbar\.less}line{font-family:\0000317}}
.mod-bar-box .text {
  float: right;
  padding: 0 17px 0 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAgCAMAAAAootjDAAAAflBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////vroaSAAAAKXRSTlMA/fAB+Yb07eff1zIfEgbjTUI5J87HwbmyqaKOjHtzYFguLBgNCplqaMymJJAAAACSSURBVCjPfdLJFoIwEERRDCAgKgrO4ACO7/9/0LCszjlkeRdJp6qjLmnjSI+Di7EUOK9DOxm7eju+1W4zOLzUvt72K7W7t52xRwKLp9pmtKWxORTGtt6qRq12kA9qZQZZqdbn4Gq1poJCaciF5DJ5sg8HE5Hx9ZMaxXRgP4lVw9eKJouM26DujmApHHzsmrjUyB9HexHr09vcJwAAAABJRU5ErkJggg==) right center no-repeat;
  -webkit-background-size: 9px auto;
  background-size: 9px auto;
  color: #fff;
  font-size: 15px;
}
/* line 25, toolbar.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/toolbar\.less}line{font-family:\0000325}}
.mod-bar-box .text span {
  color: #e85742;
  font-family: Helvetica;
}
/* line 1, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\000031}}
.mod-header {
  width: 100%;
  height: 48px;
  background-color: #e85742;
  line-height: 48px;
  position: relative;
  color: #ffffff;
}
/* line 8, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\000038}}
.mod-header h1 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
/* line 13, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000313}}
.mod-header .close {
  position: absolute;
  font-size: 16px;
  height: 100%;
  top: 0;
  right: 11px;
}
/* line 22, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000322}}
.mod-current-trend .god-name {
  padding: 8px 8px 0;
  word-break: break-all;
  line-height: 21px;
  margin: 0 0 -4px;
  max-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 34, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000334}}
.mod-current-trend .no-trend {
  height: 44px;
  font-size: 15px;
  color: #b2b2b2;
  text-align: center;
  line-height: 44px;
  display: none;
}
/* line 42, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000342}}
.mod-current-trend .trend-chart {
  padding: 0 10px;
  overflow: hidden;
}
/* line 45, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000345}}
.mod-current-trend .trend-chart.hide {
  height: 0;
}
/* line 48, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000348}}
.mod-current-trend .trend-chart.show {
  height: 155px;
}
/* line 54, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000354}}
.mod-current-trend .current-site-info li .comments {
  position: relative;
  padding-right: 19px;
  min-width: 76px;
  color: #46a6ff;
}
/* line 59, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000359}}
.mod-current-trend .current-site-info li .comments::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 44px;
  background: url(../img/icon_trend.png) center no-repeat;
  -webkit-background-size: 17px auto;
  background-size: 17px auto;
  right: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
}
/* line 75, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000375}}
.mod-price-list > li {
  padding: 0 10px;
  height: 44px;
  line-height: 44px;
  display: -webkit-box;
  border-bottom: 1px solid #f5f5f5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 82, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000382}}
.mod-price-list > li:last-child {
  border: none;
}
/* line 85, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000385}}
.mod-price-list > li.active {
  background: #f5f6fa;
}
/* line 89, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000389}}
.mod-price-list > li .price {
  color: #e85742;
}
/* line 93, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000393}}
.mod-price-list > li .comments {
  font-size: 12px;
  color: #6c6c6c;
  padding: 0 0 0 10px;
}
/* line 97, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\0000397}}
.mod-price-list > li .comments span {
  padding: 0 0 0 2px;
}
/* line 101, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003101}}
.mod-price-list > li > div {
  width: 1%;
  -webkit-box-flex: 1;
  white-space: nowrap;
}
/* line 105, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003105}}
.mod-price-list > li > div:nth-child(2) {
  text-align: center;
}
/* line 108, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003108}}
.mod-price-list > li > div:nth-child(3) {
  text-align: right;
  -webkit-box-flex: 0;
  min-width: 95px;
}
/* line 117, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003117}}
.mod-all-price .no-price {
  height: 44px;
  font-size: 15px;
  color: #b2b2b2;
  text-align: center;
  line-height: 44px;
}
/* line 127, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003127}}
.mod-suggest-list li {
  overflow: hidden;
  padding: 6px 7px;
  border-bottom: 1px solid #f5f5f5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 132, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003132}}
.mod-suggest-list li:last-child {
  border: none;
}
/* line 135, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003135}}
.mod-suggest-list li figure {
  border: 1px solid #dadee2;
  float: left;
}
/* line 139, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003139}}
.mod-suggest-list li figure div {
  width: 63px;
  height: 63px;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #ededef;
}
/* line 148, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003148}}
.mod-suggest-list li .detail {
  margin: 0 10px 0 73px;
  line-height: 1;
  display: -webkit-box;
  height: 63px;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
}
/* line 155, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003155}}
.mod-suggest-list li .detail .god-name {
  max-height: 36px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 164, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003164}}
.mod-suggest-list li .detail .mall-name {
  color: #646464;
  font-size: 12px;
}
/* line 168, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003168}}
.mod-suggest-list li .detail .price {
  padding: 10px 0 0;
  color: #e85742;
}
/* line 173, trend.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003173}}
.mod-suggest-list li.active {
  background: #f5f6fa;
}
@-webkit-keyframes downJump {
  /* line 181, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003181}}
  0% {
    -webkit-transform: translateY(0);
  }
  /* line 182, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003182}}
  25% {
    -webkit-transform: translateY(5px);
  }
  /* line 183, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003183}}
  50% {
    -webkit-transform: translateY(0px);
  }
  /* line 184, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003184}}
  75% {
    -webkit-transform: translateY(5px);
  }
  /* line 185, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003185}}
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-webkit-keyframes upJump {
  /* line 189, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003189}}
  0% {
    -webkit-transform: translateY(0);
  }
  /* line 190, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003190}}
  25% {
    -webkit-transform: translateY(-5px);
  }
  /* line 191, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003191}}
  50% {
    -webkit-transform: translateY(0px);
  }
  /* line 192, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003192}}
  75% {
    -webkit-transform: translateY(-5px);
  }
  /* line 193, trend.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wap_static_proj\/trunk\/QQbrowser\/touch\/shopping_price_v2\/iphone\/less\/trend\.less}line{font-family:\00003193}}
  100% {
    -webkit-transform: translateY(0px);
  }
}
/*# sourceMappingURL=g.css.map */