body {
    background: #23282d;
}

.item-name-big h3 {
    color: #1d4776
}

.classify-item-list ul::before {
    border-bottom: 1px solid #31363b
}

.line {
    background: #2c2b3b
}
.img-title{
    color: #c2c2c2;
}

.mod-video-list .list li .box .info,.mod-weather .week-weather .day-weather .degrees-wrap span, .mod-card-joke .txt p{
    color: #777;
}
/* 修改链接文字的颜色 */
.classify-item-list li a, .classify-item-list ul li .item-name, .more, .more:visited, .news-item-list ul li a,
.game .title, .game .title:visited, .classify-item-list li a:visited, .news-item-list ul li a:visited,
.shopping-links .link, .shopping-links .link:visited, a:visited, .mod-site-nav a, .mod-hot-tags a,
.mod-wx-list ul li .title, .game-rank-list .game-detail .game-title, .mod-card-lottery .info .txt,
.game-rank-list .game-detail .game-info, .game-rank-list .game-detail .game-summary,
.mod-img-txt .item .item-txt .title, .mod-img-txt .item .item-txt .summary,
.mod-nba-card .team .team-name, .mod-card-joke .txt a, .mod-card-joke .txt p,
.mod-weather .location > span, .mod-weather .week-weather .day-weather .degrees-wrap,
.mod-qqfm .mod-app-list > .app-item ul > li{
    color: #686d74 !important;
}

.active, .item-list ul li.active, .lottery-list.active, .more.active,.classify-item-list ul li.active, .item-list ul li.active,
.mod-icon-and-txt ul li.active{
    background-color: #171721;
}
.mod-card-box .card-list .card .card-info .card-des,
.mod-img-txt .item .item-txt .summary{
    color: #777;
}
.game .banner,  .life-item-list img, .lottery-list p span.blue,
.lottery-list p span.red, .video-item-list ul li a::before, ul li .hot,
.game-news-list li > .cover,
.mod-card-nba .game-vs-list li .game-info,
.mod-card-nba .game-vs-list li .left-team img, .mod-card-nba .game-vs-list li .right-team img,
.mod-new-year .date-item, .mod-quick-links .links li a i, .mod-quick-links .links li a div,
.mod-video-list .list li .box .img, .mod-tags > ul li,.real-hot div a span::after,
.mod-game-rank .game-rank-list li .btn-method, .mod-img-txt .item .pic > div,
.mod-game-rank .game-rank-list li a .game-icon, .mod-add-banner, .figure-and-txt figure,
.mod-nba-card img, .mod-nba-card .game-info, .btn-add-card-detail,
.mod-shopping3 .mod-mutil-banner + div, .mod-qqfm .mod-app-list > .app-item .figure{
    opacity: .5
}

.news-img, .pic-item-list01 ul li .img-wrap, .pic-item-list02 ul li .img-wrap,
.mod-software .software-list .software-item .icon, .game-news-list li.active > .cover,
.job-links .title-wrap a > div{
    opacity: .5
}

.lottery-list {
    border-top: 1px solid #2c2b3b
}

.com-tag {
    opacity: .4
}

.pic-item-list01 ul li .book-title>span {
    color: #4b5356
}

.pic-item-list02 ul li .book-list li a, .book-list li a:visited .update-now li a:visited, .game .title:visited, .software .title,
.software .title:visited, .update-now li a span,.update-now li a strong, .update-now li a:visited strong,
.update-now li a:visited span, .software .software-list .icon-msg .icon-name, .software-list a, .software-list:visited,
a:visited,.mod-icon-and-list > li a,.mod-icon-and-list > li a:visited, .real-hot div a,
.mod-icon-list ul .item, .mod-quick-links .links li a, .mod-app-list ul li .app-name,.mod-txt-list ul li, .mod-txt-list ul li a,
.mod-icon-list ul .item span, .btn-operation .new-operation > div, .btn-operation .new-operation > div a,
.pic-item-list01 li a > span, .figure-and-txt .txt > p, .btn-operation .new-operation .change,
.real-hot div.hot a span::after{
    color: #686d74 !important;
}

.btn-operation .new-operation .change path,
.btn-operation .icon-change path{
    fill: #686d74 !important;
}

.item-name-big h3::before, .news-item-list ul li a .order, .pic-item-list02 ul li .book-list li a .order {
    opacity: .4
}

.news-img, .pic-item-list01 ul li .img-wrap, .pic-item-list02 ul li .img-wrap, {
    background: #1d1e2a
}

.news-img img, .pic-item-list01 ul li .img-wrap img, .pic-item-list02 ul li .img-wrap img {
    opacity: 0
}

.news-img .content-img, .pic-item-list01 ul li .img-wrap .content-img, .pic-item-list02 ul li .img-wrap .content-img {
    opacity: 1
}
.news-item-list li .reply-num{
    color: rgb(72, 73, 81);
}

.mod-top-rank-list li.active,
.btn-operation ul li a.active, .btn-operation ul li.active, .title-wrap.active, .classify-item-list ul li a.active,
.item-list ul li a.active, .mod-weather.ns-night .location > span.active, .mod-weather.ns-night .top-section.active,
.mod-weather.ns-night .week-weather.active, .mod-icon-and-list > li a.active, .news-item-list li.active a,
.mod-software .software-list a.software-item.active,.mod-zodiac .zodiac-detail .zodiac-txt.active, .mod-zodiac .my-luck.active,
.game-news-list li.active, .game-time-table .game-content > div.active,
.mod-hot-tags ul li.active, .mod-site-nav ul li.active{
    background-color: #171721;
}
.btn-operation ul li a, .software .software-list .icon-msg .category{
    color: #686d74
}
.btn-operation ul li:after, .mod-new-year .date::after,
.mod-img-txt::before{
    background-color: #31363b;
    border-color: #31363b;
}
.btn-operation ul li.last::before,.btn-operation ul::before,
.mod-weather .week-weather::before, .mod-top-rank-list li::after, .game-news-list::before,
.game-time-table .game-time-title::before, .game-time-table .game-content::before,
.mod-wx-list ul li::after, .real-hot div::before, .real-hot div::after,.real-hot div.active,
.mod-card-nba .game-vs-list li::after,.btn-recommend ul li::after,.btn-recommend ul::before,
.mod-game-rank .game-rank-list li::after,
.btn-operation .new-operation::before, .figure-and-txt::after,
.mod-shopping3 .shopping-links > .title-wrap, .mod-qqfm .mod-app-list>.app-item::after{
    background-color: #31363b !important;
}
.mod-add-card {
    background: rgb(29, 30, 42);
}
.classify-item-list li a{
    background-color: #272c31 !important;
}
.mod-card-box{
    background: #1a1b26
}
.mod-card-box .card-list .card,
.figure-and-txt::after{
    border-bottom: 1px solid #31363b !important;
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .mod-card-box .card-list .card{
        border: none;
    }
    .mod-card-box .card-list .card::after{
        border-bottom: 1px solid #31363b;

    }
}
.mod-card-box .card-list .card.active,.game-news-list li.active, .game-time-table .game-content > div.active{
    background: #171721;
}
.mod-card-box,.mod-card-push .card-intro{
    color: #686d74
}

.mod-card-box .card-list .card .card-info .card-name {
    color: #4b5356
}

.mod-card-box .card-list .card .card-info,.mod-add-detail .card-info {
    color: #8b8c91
}

.btn-add-card.uncheck,.mod-card-box .card-list .card.has-next::before{
    opacity: .4
}

.btn-add-card.check {
    opacity: .5
}

.mod-card-box .card-list .card .card-img,.mod-add-detail .card-screenshot, .mod-icon-and-list.icon-video-list > li a::before, .mod-icon-and-list.icon-prise-list > li a::before,
.mod-star-rank, .mod-zodiac .zodiac-icon, .mod-software .soft-banner a figure, .update-now .icon,
.mod-icon-and-txt ul li a div, .mod-two-banner figure,.btn-operation li .icon-change > span,
.mod-wx-list ul li .icons,.mod-icon-and-list.icon-rprise-list > li a::before,
.mod-icon-and-list > li a::before, .mod-txt-list ul li::before,.mod-mutil-banner .pic-item,
.mod-weather .location > span.current::before,.game-time-table .game-content .team-info .team-logo img,
.mod-card-push .card-icon div, .mod-card-push .card-method, .mod-card-box .card-list .card.new::before,
.mod-site-nav ul li div, .mod-card-lottery .lottery-num .nums,.real-hot div a span::after,
.mod-card-lottery .banner, .mod-single-banner a > div,.mod-app-list ul li .app-icon,
.mod-icon-and-txt ul li div, .mod-12306 .enter-list li .icon, .mod-icon-list ul .item figure,
.mod-two-banner .img-wrap > div, .mod-two-banner .img-wrap{
    opacity: .5
}
.mod-card-lottery .lottery-num .package-info{
    background: #2e4e1e;
    border: solid 1px #31363b;
    color: #ddd;
    opacity: .9;
}
.mod-card-lottery .lottery-num .package-info.active{
    background: #53bf1d;
    border: solid 1px #31363b;
}
.card-add-list-icon-jian, .card-add-list-icon-new {
    color: #8b8c91
}

.card-add-list-icon-jian {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAvBAMAAACBCY6fAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAnUExURQAAAGwwKGwwKGwwKGwwKGwwKGwwKGwwKGwwKGwwKGwwKGwwKGwwKGRyP2cAAAAMdFJOUwCA9BsHy9DRyG4Gb6fRrlQAAABqSURBVDjLdcsxDYAwAADBSzCAEHywowMplYADVLBXFAb6P35yvNdctNvu1f845xp4AhgBHAEUUEABBRRQQAEFFFBAAQUUUEABBRRQQAEFFFBAAQUUUEABBRRQQAEFFFBAAQUUUEABBRT4AUyFtE4ER5fvAAAAAElFTkSuQmCC)
}

.card-add-list-icon-new {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAvBAMAAACBCY6fAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURQAAADBbITBbITBbITBbITBbITBbITBbITBbITBbITBbITBbIaQqelgAAAALdFJOUwCAbvQHyBvH0dAGuDsCLgAAAGlJREFUOMt1yzERgDAAwMCfmPGBBAzgARmVw4YD5prDQJMxd8875qLd9qz+xzXXwBHAHcAZQAEFFFBAAQUUUEABBRRQQAEFFFBAAQUUUEABBRRQQAEFFFBAAQUUUEABBRRQQAEFFFBAgR84HpAOFj4aiAAAAABJRU5ErkJggg==)
}
.news-item-list li .reply-icon{
    opacity: .3;
}

.pic-item, .icon, .software-icon, .mod-software .soft-banner a figure{
    position: relative;
}
.pic-item::after,  .software-icon::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}
/* assistant */

/* top rank */


/* weather night */
.mod-weather .current-weather{
    color: #686d74;
}
.mod-weather .day-weather{
    color: #686d74;
}
.mod-weather.ns-night .week-weather .day-weather.active{
    color: #215fa2;
}
.mod-weather.ns-night .week-weather .day-weather .degrees .length{
    background: #686d74;
}
.mod-weather.ns-night .week-weather .day-weather.active .degrees .length{
    background: #215fa2;
}
.mod-weather.ns-night .weather-icon > div, .mod-weather .current-weather .location > span::before{
    opacity: .4;
}
.mod-weather.ns-night .weather-error .error-content > span{
    opacity: .4;
}
.mod-weather.ns-night .weather-error .error-content > p{
    color: #363943;
}
.mod-weather.ns-night .weather-error .error-content > p > a{
    color: #1d4776;
}
.shopping-links .link span, .btn-add-card-detail{
    position: relative;}
.shopping-links .link span::before, .btn-add-card-detail::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}
.btn-add-card-detail::after{
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.mod-zodiac .zodiac-detail .zodiac-txt > a, .mod-zodiac .zodiac-detail .zodiac-txt > a:visited{
    color: #8d8d8d !important;
    opacity: 0.6;
}

/* other */
.mod-card-error .error-content > p, .mod-card-loading .loading-content p{
    color: #363943;
}
.mod-card-loading .loading-content > span, .mod-card-error .error-content > span{
    opacity: .2;
}
.mod-card-error .error-content a, .mod-card-error .error-content a:visited{
    color: #1d4776;
}

/* nba */
.game-time-table .game-time-title{
    background: #222330;
}

/* 图片占位 */


/* 抢火车票特殊处理 */
.mod-12306 .enter-list li .huoche{
    color: #7c252d;
}
.mod-12306 .enter-list li .book{
    color: #8b511d;
}
.mod-12306helper .buy-date time{
    color: #91252d;
}
.mod-12306helper .buy-date span, .mod-12306helper .title{
    color: #4d4d4d;
}
.mod-12306helper .btn-go-buy.active{
    background: #91252d;
    color: #cdaaac;
}
.mod-12306helper .btn-go-buy{
    border-color: #91252d;
    color: #91252d;
}

/* 游戏排行 */
.mod-game-rank .game-rank-list li:nth-child(1)::before,
.mod-game-rank .game-rank-list li:nth-child(2)::before,
.mod-game-rank .game-rank-list li:nth-child(3)::before{
    color: #83392d;
    background: url(../img/game_rank_icon_night.png) no-repeat;
    -webkit-background-size: 29px 29px;
    background-size: 29px 29px;
}
